
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f0f2f5; 
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #2D6072; 
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #fff;
    margin: 0;
    padding: 10px 0;
    border: 2px solid #2D6072;
    background-color: #558FA7;
    text-align: center;
}


.Content {
    border-top: 2px solid #558FA7; 
    padding: 20px 0;
}

.Content p {
    margin-left: 160px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

p {
    margin: 10px 20px;
    font-size: 16px;
}

/* List Styles */
ul {
    border-bottom: 2px solid #558FA7;
    list-style: none;
    padding: 0;
}

li {
    list-style-image: url("../image/icon-plus.png");
    line-height: 1.6;
    font-weight: bold;
    font-size: 18px;
    margin-left: 160px;
}

/* Table Styles */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    border: 2px solid #558FA7;
    border-radius: 5px;
}

th, td {
    padding: 10px;
    border: 2px solid #558FA7; 
    text-align: left;
    background-color: #F3D2B5;
}

th {
    font-size: 18px;
    color: #fff;
    text-align: center;
    background-color: #2D6072; 
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}

td {
    font-size: 16px;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 2px solid #558FA7;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
select,
input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #558FA7; 
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}

.submit input[type="submit"] {
    background-color: #2D6072; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.submit input[type="submit"]:hover {
    background-color: #558FA7; 
}
